extends layout

block content
  .auth-forms
    .login
      h2 Login
      form(method="post" action="/login")
        input(type="hidden" name="_csrf" value=csrf)
        input(type="text" name="username" placeholder="Username" required)
        input(type="password" name="password" placeholder="Password" required)
        button(type="submit") Login

    .register
      h2 Register
      form(method="post" action="/register")
        input(type="hidden" name="_csrf" value=csrf)
        input(type="text" name="username" placeholder="Username" required)
        input(type="email" name="email" placeholder="Email" required)
        input(type="password" name="password" placeholder="Password" required)
        button(type="submit") Register
  if error
    .error= error
