extends layout

block content
  h1 Account Settings
  form(method="post" action="/settings")
    input(type="hidden" name="_csrf" value=csrf)
    label Email:
    input(type="email" name="email" value=user.email required)
    
    label New Password (leave blank to keep current):
    input(type="password" name="password")
    
    button(type="submit") Update Settings
