extends layout

block content
  h1= user.username
  if session && session.user && session.user.id === user.id
    .create-post
      form(method="post" action="/post")
        input(type="hidden" name="_csrf" value=csrf)
        textarea(name="content" placeholder="Write your post..." required)
        button(type="submit") Publish

  .posts
    each post in posts
      .post
        .content= post.content
        .date= post.created_at
